<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap-5.3.3.min.css">
    <script src="/assets/bootstrap-5.3.3.min.js"></script>
    <script src="/assets/jquery-3.7.1.min.js"></script>
    <script th:src="@{/assets/fontawesome.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lixeira de Hunters</title>
</head>
<body>
    <h3>Lixeira de Hunters</h3>
    <hr>
    <a href="/hunters/list" class="btn btn-secondary btn-sm mb-3"><i class="fa fa-arrow-left"></i>&nbsp;Voltar</a>
    <form th:action="@{/hunters/filtrar-hunter-trash}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar nome do Hunter" name="search">
            <button type="submit" class="btn btn-primary"><i class="fa fa-magnifying-glass"></i>&nbsp;Buscar</button>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Tipo Hunter</th>
                <th>Tipo Nen</th>
                <th>Tipo Sanguíneo</th>
                <th>Início</th>
                <th>Término</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="hunter : ${hunters}">
            <td th:text="${hunter.nome_hunter}"></td>
            <td th:text="${hunter.idade_hunter}"></td>
            <td th:text="${hunter.alturaFormatada}"></td>
            <td th:text="${hunter.pesoFormatado}"></td>
            <td th:text="${hunter.tipo_hunter_id.descricao}"></td>
            <td th:text="${hunter.tipo_nen_id.descricao}"></td>
            <td th:text="${hunter.tipo_sanguineo_id.descricao}"></td>
            <td th:text="${hunter.inicioFormatado}"></td>
            <td th:text="${hunter.terminoFormatado}"></td>
            <td>
                <a th:href="@{'/hunters/restore-hunter/' + ${hunter.id}}" class="btn btn-primary btn-sm"><i class="fa fa-arrows-rotate"></i>&nbsp;Restaurar</a>
                <!-- <a th:href="@{'/hunters/delete-hunter/' + ${hunter.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Deletar</a>-->
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == i} ? 'active' : ''">
                <a class="page-link" th:href="@{'/hunters/trash-list-hunter?page=' + ${i}}">[[${i}]]</a>
            </li>
        </ul>
    </div>
</body>
</html>