<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap-5.3.3.min.css">
    <script src="/assets/bootstrap-5.3.3.min.js"></script>
    <script src="/assets/jquery-3.7.1.min.js"></script>
    <script th:src="@{/assets/fontawesome.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listar recompensas</title>
</head>
<body>
    <h3>Listagem de recompensas</h3>
    <hr>
    <a href="/recompensas/form-create-recompensa" class="btn btn-success btn-sm mb-3"><i class="fa fa-plus"></i>&nbsp;Adicionar recompensa</a>
    <a href="/recompensas/trash-list-recompensa" class="btn btn-danger btn-sm mb-3"><i class="fa fa-dumpster"></i>&nbsp;Lixeira de recompensas</a>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recompensa : ${recompensas}">
                <td th:text="${recompensa.id}"></td>
                <td th:text="${recompensa.descricao_recompensa}"></td>
                <td th:text="${recompensa.valorRecompensaFormatado}"></td>
                <td>
                    <a th:href="@{'/recompensas/form-update-recompensa/' + ${recompensa.id}}" class="btn btn-primary btn-sm"><i class="fa fa-arrows-rotate"></i>&nbsp;Atualizar</a>
                    <a th:href="@{'/recompensas/trash-recompensa/' + ${recompensa.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Lixeira</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>