<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap-5.3.3.min.css">
    <script src="/assets/bootstrap-5.3.3.min.js"></script>
    <script src="/assets/jquery-3.7.1.min.js"></script>
    <script th:src="@{/assets/fontawesome.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Início</title>
</head>
<body>
    <div class="container" th:style="'margin-top: 50px'">
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Hunters</h5>
                        <a th:href="@{/hunters/list}" class="btn btn-warning">
                            <i class="fa fa-image-portrait"></i>&nbsp;Listar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Recompensas</h5>
                        <a th:href="@{/recompensas/list}" class="btn btn-warning">
                            <i class="fa fa-sack-dollar"></i>&nbsp;Listar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Recompensados</h5>
                        <a th:href="@{/recompensados/list}" class="btn btn-warning">
                            <i class="fa fa-hand-holding-dollar"></i>&nbsp;Listar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>