<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap-5.3.3.min.css">
    <script src="/assets/bootstrap-5.3.3.min.js"></script>
    <script src="/assets/jquery-3.7.1.min.js"></script>
    <script th:src="@{/assets/fontawesome.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico">
    <title>Lixeira de recompensados</title>
</head>
<body>
    <h3>Lixeira de recompensados</h3>
    <hr>
    <a href="/recompensados/list" class="btn btn-secondary btn-sm mb-3"><i class="fa fa-arrow-left"></i>&nbsp;Voltar</a>
    <form th:action="@{/recompensados/filtrar-recompensado-trash}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar nome do Hunter ou descrição da recompensa" name="search">
            <button type="submit" class="btn btn-primary"><i class="fa fa-magnifying-glass"></i>&nbsp;Buscar</button>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Hunter</th>
                <th>Recompensa</th>
                <th>Valor</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="recompensado : ${recompensados}">
            <td th:text="${recompensado.hunter_id.nome_hunter}"></td>
            <td th:text="${recompensado.recompensa_id.descricao_recompensa}"></td>
            <td th:text="${recompensado.recompensa_id.valorRecompensaFormatado}"></td>
            <td th:text="${recompensado.verificarStatus}"></td>
            <td>
                <a th:href="@{'/recompensados/restore-recompensado/' + ${recompensado.id}}" class="btn btn-primary btn-sm"><i class="fa fa-arrows-rotate"></i>&nbsp;Restaurar</a>
                <!-- <a th:href="@{'/recompensados/delete-recompensado/' + ${recompensado.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Deletar</a> -->
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == i} ? 'active' : ''">
                <a class="page-link" th:href="@{'/recompensados/trash-list-recompensado?page=' + ${i}}">[[${i}]]</a>
            </li>
        </ul>
    </div>
</body>
</html>